* {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
}


body {
    font-family: "Times New Roman", sans-serif;
    background-color: #e0c09f;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: large;
}

header {
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
    line-height: 1.6;
}

h1 {
    color: #d9534f;
    text-align: center;
    padding: 15px 0;
}

h2, h3 {
    color: #d9534f;
    margin: 0;
    line-height: 1.6;
}

img {
    width: 100%;
    height: auto;
    padding: 15px 0 20px 0;
}

p, li {
    line-height: 1.6;
}

ul, ol {
    margin-bottom: 20px;
    list-style: none;
    padding-left: 0;
}

ol ol {
    margin-top: 0;
}

ol li {
    margin-bottom: 10px;
}

footer {
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}