* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0c09f; 
    text-align: center;
    padding: 20px;
    font-family: "Times New Roman", sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

a:hover {
    color: #d9534f;
}

#odinProjectButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background: url("https://www.theodinproject.com/mstile-310x310.png") center center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.menu-container {
    color: #fff;
    background-color: #e0c09f;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    color: #333;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup {
    margin-left: auto;
}

.login {
    margin-left: 20px;
}